.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 86px;
  }
  
form {
    max-width: 350px;
    width: 100%;
}

.signup-form {
    display: grid;
    /* text-align: justify; */
    align-self: center;
    max-width: 300px;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  
  .signup-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  span{
    color: orangered;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],input[type="email"], input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(255, 0, 0);
  }
  